html{
    font-family: 'Open Sans', sans-serif;
}
h1{
    text-align: center;

}
p{
    text-align: center;
}
h2{
    text-align: center;
}
h5{
    text-align: center;
}
.input{
    text-align: center;
}
.col{
    margin: 10px;
}
.column-image{
    padding: 5px;
}
#laptop{
    background-image: url('images/laptop.jpeg');
}